.container {
  width: calc(100% - 56px);
  padding: 0px 28px;
  background-color: var(--background-secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.container__text {
  font-size: 24px;
}

.container__text--placeholder {
  color: var(--text-tertiary-color);
}

.container__text--value {
  color: var(--text-primary-color);
}

.container__iconActive {
  fill: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container__iconActive:hover {
  fill: var(--text-primary-color);
  transform: scale(1.2);
}

.container__iconDisabled {
  fill: var(--text-tertiary-color);
}
