.topbarContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
  background: transparent;
  width: calc(100% - 32px);
  gap: 8px;
}

.topbarContainer__buttonsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  color: var(--text-primary-color-dark);
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.icon:hover,
.icon:focus {
  color: var(--primary-color-dark);
  transform: scale(1.1);
}

.icon:active {
  transform: scale(0.95);
}
