.icon {
  color: var(--text-primary-color-dark);
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.icon:hover,
.icon:focus {
  color: var(--primary-color-dark);
  transform: scale(1.1);
}

.icon:active {
  transform: scale(0.95);
}
