.container {
  width: calc(100% - 56px);
  padding: 28px;
  background-color: var(--background-secondary-color-light);
  display: flex;
  flex-direction: column;
}

.container__rowTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.rowTitle__text {
  font-size: 16px;
  margin: 0;
  color: var(--text-primary-color-light);
}

.rowTitle__textNumber {
  font-size: 24px;
  margin: 0;
  color: var(--primary-color-light);
}

.container__rowInput {
  width: 100%;
  margin-bottom: 28px;
}

.rowInput__input {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  outline: none;
  transition: background 0.3s;
  background: var(--background-primary-color-light);
}

.rowInput__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 2px #000;
}

.rowInput__input::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--primary-color-light);
  border: none;
  cursor: pointer;
}

.rowInput__input:active::-webkit-slider-thumb {
  width: 26px;
  height: 26px;
  background: #000;
  border: 2px solid var(--primary-color-light);
}

/* Firefox */
.rowInput__input::-moz-range-thumb {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--primary-color-light);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.rowInput__input:active::-moz-range-thumb {
  width: 26px;
  height: 26px;
  background: #000;
  border: 2px solid var(--primary-color-light);
}

.container__rowCheckbox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.rowCheckbox__text {
  font-size: 16px;
  margin: 0;
  color: var(--text-primary-color-light);
}

.rowCheckbox__textActive {
  font-size: 16px;
  margin: 0;
  color: var(--primary-color-light);
}

.container__rowSecurity {
  width: calc(100% - 44px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  padding: 22px;
  background-color: var(--background-primary-color-light);
  margin-top: 16px;
  margin-bottom: 28px;
}

.rowSecurity__textSecurity {
  font-size: 18px;
  margin: 0;
  color: var(--text-secondary-color-light);
  text-transform: uppercase;
}

.rowSecurity__containerRight {
  display: flex;
  align-items: center;
  gap: 16px;
}

.containerRight__text {
  font-size: 24px;
  min-height: calc(75px - 44px);
  margin: 0;
  color: var(--text-primary-color-light);
}

.containerRight__containerColumn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.containerColumn__columnBase {
  width: 7px;
  height: 28px;
  border: 1px solid var(--text-primary-color-light);
  background-color: transparent;
}

.containerColumn__columnWeak {
  width: 7px;
  height: 28px;
  border: 1px solid var(--text-red-color-light);
  background-color: var(--text-red-color-light);
}

.containerColumn__columnMedium {
  width: 7px;
  height: 28px;
  border: 1px solid var(--text-yellow-color-light);
  background-color: var(--text-yellow-color-light);
}

.containerColumn__columnStrong {
  width: 7px;
  height: 28px;
  border: 1px solid var(--primary-color-light);
  background-color: var(--primary-color-light);
}

.container__button {
  width: 100%;
  padding: 18px;
  background-color: var(--primary-color-light);
  color: var(--background-primary-color-light);
  border: 1px solid var(--primary-color-light);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.container__button:hover {
  background: transparent;
  border: 1px solid var(--primary-color-light);
  color: var(--primary-color-light);
}

.button__text {
  font-size: 18px;
  font-family: "JetBrains Mono";
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 8px;
}

.container__button:disabled {
  background-color: var(--text-tertiary-color-light);
  border-color: var(--text-tertiary-color-light);
  color: var(--text-primary-color-light);
  cursor: not-allowed;
  opacity: 0.6;
}

.container__button:disabled:hover {
  background-color: var(--text-tertiary-color-light);
  border-color: var(--text-tertiary-color-light);
  color: var(--text-primary-color-light);
}
